- provide(:description, "All lkdjiin's post about #{@tag.label}")
- provide(:keywords, "blog, posts, lkdjiin, list, subject, #{@tag.label}")
%h1.tag-page= "All <span class='label'>#{@tag.label}</span> posts".html_safe

- @posts.each do |p|
  %article.tag
    %h2.gamma= link_to p.title, post_path(p.id)
    .post-date= l p.created_at, format: "%Y %B %e"
    .post-tags= labeled_tags(p.tags)
