- provide(:description, "Mes articles à propos de #{@tag.label}")
- provide(:keywords, "blog, article, lkdjiin, liste, sujet, xavier nayrac, #{@tag.label}")
- provide(:title, "Articles pour #{@tag.label}")
%h1.tag-page= "Articles pour <span class='label'>#{@tag.label}</span>".html_safe

- @posts.each do |p|
  %article.tag
    %h2.gamma= link_to p.title, post_path(p.id)
    .post-date= l p.created_at, format: "%e %B %Y"
    .post-tags= labeled_tags(p.tags)
