!!! 5
%html{ lang: "en" }
  %head
    = render "layouts/fonts"
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ charset: "UTF-8" }
    = auto_discovery_link_tag(:rss, "localhost:3000")
    %title= "Blog"
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container-fluid
      .container-narrow
        .row-fluid
          .span3
            = render "layouts/sidebar"
          .span9.content
            = yield
    = debug(params) if Rails.env.development?
